*{
    margin:0;
    padding: 0;
}

body{
    background: #e0ecf4;
    color:#000;
    font-family: 'Lato', sans-serif;
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);

    grid-template-areas:
    "header header header header"
    "contenido contenido contenido contenido"
    "widget widget widget widget"
    "footer footer footer footer";
}

.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor .footer {
    background: #fff;
    padding: 20px;
    border-radius: 4px;
}

.contenedor .header {
    background: #343434;
    color: #fff;
    grid-area: header;
    grid-template-columns:  1fr 1fr;
    grid-template-areas:"logo navbar";
}

.contenedor .contenido{
    grid-area: contenido;
}

.contenedor .widget{
    background: #55a8fd;
    color: #fff;
    height: 200px;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
}

.contenedor .widget{
    grid-area: widget;
}

.widget .video{
    position: relative;
    top:0;
    left: 50px;
    width: auto;
    height: auto;
}

.contenedor .footer{
    background: #343434;
    color: #fff;
    grid-area: footer;
    text-align: center;
}

.contenedor .footer a{
    text-align: center;
    font-size: 25px;
    color: black;
    padding: 20px;
}

.header .logo img{
    display: flex;
    width: 175px;
    cursor: pointer;
    grid-area: logo;   
}

.header  .navbar {
    grid-column: -1;
    width: auto;
    float: right;
    margin: 0 auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    grid-area: navbar;

}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;

}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
}

.navbar ul li::before {
    content: "";
    height: 3px;
    width: 0%;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -12px;
    transition: 0.4s ease-out;
}

.navbar ul li:hover::before {
    width: 100%;
}

.contenedor .contenido .form-suscribir{
    width: 800px;
    background: #50c1df;
    padding: 40px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;

}
.form-suscribir h2{
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}
.form-suscribir h3{
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.input-suscribir{
    width: 100%;
    background: #50c1df;
    padding: 10;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #042a8c;
    /* font-family: 'Lato', sans-serif;
    font-size: 18px; */
}

.form-suscribir .boton-suscribir{
    width: 100%;
    background: #0854a0;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;

}

@media screen and (max-width:768px) {
    .contenedor{
        grid-template-areas:
        "header header"
        "contenido"
        "widget ."
        "footer footer";
    }
    .header{
        grid-template-areas:"logo" "navbar";
    }

    .widget .video{
        position: relative;
        top:0;
        left: 0px;
        width: auto;
        height: auto;
    }
    .contenedor .contenido .form-suscribir{
        width: 350px;
        background: #50c1df;
        padding: 40px;
        margin: auto;
        margin-top: 100px;
        border-radius: 4px;
    
    }
}